@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*
{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'karla', sans-serif;
    color: #fff;
    
}

body 
{
    background-color: #E6EFF6;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
    
}

.card
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 1%;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    
    
}

.card .header
{
    grid-column: 1 / span 2;
    background-color: #fff;
    width: 100%;
    padding: 40px 70px 0px 40px;
    border-bottom: 40px;
    padding-bottom: 20px;
    
    
}

.card .header h1
{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
}

.card .header h3
{
    color: hsl(71, 73%, 54%);
    font-weight: 400;
    font-weight: bold;
}

.card .header p
{
    color: hsl(218, 22%, 67%);
    font-size: 16px
}


.box-left
{
    background-color: #2BB3B1;
    width: 100%;
    padding: 40px 70px 40px 40px;
    
}

.box-left h3
{
    font-weight: 400;
}

.box-left .price
{
    font-size: xx-large;
    font-weight: bold;
}

.box-left .price span
{
    font-size: medium;
    font-weight: normal;
    opacity: 75%;
}

.box-left p
{
    
    padding-bottom: 20px;
}

.box-left button
{
    width: 238px;
    height: 48px;
    background-color: hsl(71, 73%, 54%);
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    text-align: center;
    display: block;
    margin : auto;
    border: none;
    outline: none;

    

}

.box-left button:hover
{
    background:hsl(71, 73%, 44%);
    transition-duration: .4s;
    cursor: pointer;
}


.box-right
{
    background-color: #4ABEBD;
    width: 100%;
    padding: 40px 70px 40px 40px;
    
}

.box-right h3
{
    font-weight: 400;
}

.box-right li
{
    list-style: none;
}

.box-right ul
{
    opacity: 75%;
}



@media (max-width: 1000px)

{
.card
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        
    }

.header
{
    line-height: 150%;
    font-size: 80%;
}

.box-left
{
    width: 100%;
    padding: 25px;
    line-height: 20px;

}    

.box-right
{
    width: 100%;
    padding: 20px;
    line-height: 150%;
    font-size: 80%;
    
}


}